html, body {
	margin: 0;
	padding-right: 0;
	height: 100%;
	font-family: hanzipen sc;
	background-image: url(images/flower.jpg);
}

#container {
	position: relative;
	min-height: 100%;
}

#header {
	padding: 10px;
}

#content {
	padding-bottom: 100px;
}

#footer {
	position: absolute;
	width: 100%;
	height: 100px;
	bottom: 0;
	left: 0;
}

/***********************/

#everythingbuilds {
	text-align: center;
	font-size: 2em;
	margin-top: 170px;
}

#everythingbuilds a {
	color: black;
	text-decoration: none;
}

#everythingbuilds a:hover {
	padding: 5px 5px 5px 5px;
	font-weight: bold;
	box-shadow: 5px 5px 5px black;
}

#footertable {
	margin-left: auto;
	margin-right: auto;
}

.footerlinks {
	height: 50%;
	opacity: 0.1;
	border: 3px solid black;
	border-radius: 50%;
}

.footerlinks:hover {
	opacity: 1;
	height: 55%;
	box-shadow: 10px 10px 10px black;
}