/***********************/
/*SKELETON (NOFIDDLINGHERE)*/
html, body {
	margin: 0;
	padding-right: 0;
	height: 100%;
	font-family: hanzipen sc, sans-serif;
	background-image: url(images/flower.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#container {
	position: relative;
	min-height: 100%;
}

#header {
	padding: 10px;
}

#content {
	padding-bottom: 100px;
}

#footer {
	position: absolute;
	width: 100%;
	height: 100px;
	bottom: 0;
	left: 0;
}

/***********************/
/*HEADER*/
#headertable {
	font-family: microsoft tai le, sans-serif;
	margin-left: auto;
	margin-right: auto;
	color: white;
	border-right: 1px solid black;
}

#headertable td {
	border-left: 1px solid black;
	padding-left: 20px;
	padding-right: 20px;
}

.headerlinks {
	color: white;
	text-decoration: none;
	opacity: 0.7;
}

.headerlinks:hover {
	opacity: 1.0;
}

/***********************/
/*CONTENT*/
/*HOME*/
#everythingbuilds {
	text-align: center;
	font-size: 2em;
	margin-top: 18%;
	display: block;
}

#everythingbuilds a {
	color: black;
	text-decoration: none;
	transition: padding 0.5s, color 0.5s, box-shadow 0.5s;
}

.everythingbuilds {
	padding: 5px 5px 5px 5px;
	background-color: transparent;
	box-shadow: 5px 5px 5px black;
}

/*ABOUT*/
#about {
	text-align: center;
	font-size: 2.5em;
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.video {
	border: 5px double black;
	box-shadow: 5px 5px 5px black;
}

/*PROJECTS*/
#projects {
	text-align: center;
	font-size: 2.5em;
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;	
}

#projectstable {
	margin-left: auto;
	margin-right: auto;
}

#projectstable td {
	padding: 10px;
}

.projectslinks {
	height: 150px;
	width: 150px;
	opacity: 0.5;
	border: 3px double black;
}

.projectslinks:hover {
	opacity: 1.0;
	box-shadow: 10px 10px 10px black;
	height: 152px;
	width: 152px;
}

/*PROJECTS-GOOGLEHOMEPAGE*/
.projectonediv {
	margin:auto;
	font-size: 1em;
	width: 50%;
}

.projectonediv a {
	text-decoration: none;
	color: black;
}

.projectonediv:hover {
	box-shadow: 10px 10px 10px black;
	font-size: 1.1em;
	font-weight: bold;
}

/*CONTACT*/
#contact {
	text-align: center;
	font-size: 2.5em;
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/***********************/
/*FOOTER*/
#footertable {
	margin-left: auto;
	margin-right: auto;
}

.footerlinks {
	height: 30%;
	opacity: 0.1;
	border: 1px solid black;
	border-radius: 50%;
	transition: opacity 0.5s, height 0.5s, box-shadow 0.5s;
}

.activefooterlinks {
	opacity: 1;
	height: 35%;
	box-shadow: 10px 10px 10px black;
}